body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/088/452/original/black-vinyls.jpg?1688586468");
  background-size: cover;
  font-family: "Belanosima", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-style: italic;
  font-size: 22px;
  line-height: 1.5;
}

.music-title,
.singing-title {
  font-size: 32px;
}

#music-heading,
#singing-heading {
  text-decoration: none;
  color: rgb(96, 101, 17);
}

#music-heading:hover,
#singing-heading:hover {
  color: blueviolet;
}

.hobby-project {
  display: block;
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
  color: white;
}

.headings {
  text-align: center;
  padding: 20px;
}

.definition-container {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 10px 20px 20px;
}

.music-description,
.singing-description {
  padding: 0 0 16px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px 0 16px;
}

.grid img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: all 150ms ease-in-out;
}

.grid img:hover {
  transform: scale(1.2);
}

.sing-with-me {
  font-size: 20px;
  text-align: center;
}

.bowie-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: all 150ms ease-in-out;
}

.bowie-image:hover {
  transform: scale(1.1);
}

.footer {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin: 10px auto;
  padding: 2px;
  color: rgb(133, 141, 24);
  max-width: fit-content;
  text-align: center;
}

#shecodes-profile {
  text-decoration: none;
  color: rgb(133, 141, 24);
}

#shecodes-profile:hover {
  color: blueviolet;
}
